
<!-- <div class="col-6@md">
  <label class="form-label margin-bottom-xxs" for="input-name">{{label}}</label>
  <input class="form-control width-100%" type="text" name="input-name" id="input-name" placeholder="{{label}}" required>
</div> -->



    <div class="floating-label margin-bottom-md">
      <label class="form-label" for="inputName">{{label}}</label>
      <input class="form-control width-100%" type="text" name="inputName" id="inputName" placeholder="{{label}}" value="{{value}}">
    </div>

