<section class="bg-light radius-lg inner-glow shadow-xs padding-md padding-lg@md">
  <div class="grid gap-md items-center">
    <div class="col-6@md">
      <div class="text-component">
        <h1 class="text-xl">Banner Title</h1>
        <p class="color-contrast-medium">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit ipsum quo nihil ipsam sapiente. Suscipit, rerum!</p>
      </div>
    </div>

    <div class="col-6@md">
      <div class="flex gap-xs flex-column flex-row@xs justify-end@md">
        <a href="#0" class="btn btn--subtle">Purchase</a>
        <a href="#0" class="btn btn--primary">Try for Free</a>
      </div>
    </div>
  </div>
</section>
