
<app-header></app-header>
<section class="hero padding-y-xxl" style="background-image: url('../../assets/img/home-hero.jpg');">
  <div class="container max-width-adaptive-lg">
    <div class="max-width-xs">
      <div class="text-sm opacity-60% margin-bottom-xxs">This is a Label</div>

      <div class="text-component margin-bottom-sm">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</p>
      </div>

      <div class="flex flex-wrap items-center gap-sm">
        <a href="#0" class="btn btn--primary">Download</a>
        <a href="#0" class="color-inherit">Learn more</a>
      </div>
    </div>
  </div>
</section>

<app-howitworks></app-howitworks>
<div class="container max-width-adaptive-lg">
  <app-calltoaction></app-calltoaction>

</div>
<app-footer></app-footer>
