<label class="form-label margin-bottom-xxs" for="input-password">Password:</label>

<div class="password js js-password ">
  <input class="password__input form-control width-100% js-password__input" type="password" name="input-password" id="input-password">

  <button class="password__btn flex flex-center js-password__btn js-tab-focus">
    <span class="password__btn-label" aria-label="Show password" title="Show password"><i class="text-sm">Show</i></span>
    <span class="password__btn-label" aria-label="Hide password" title="Hide password"><i class="text-sm">Hide</i></span>
  </button>
</div>
