<app-header></app-header>
<section class="bg-dark position-relative z-index-1 padding-xxl">
  <div class="container max-width-adaptive-lg">
    <div class="margin-bottom-md text-center">
      <h1 class="text-center">Choose the right plan for you.</h1>
    </div>

    <div class="p-table-v2 js-p-table-v2">
      <!-- switch -->
      <div class="margin-bottom-md">
        <ul class="flex flex-wrap gap-md justify-center js-p-table-v2__switch">
          <li>
            <input class="radio" type="radio" name="radio-button" id="radio-yearly" checked value="yearly">
            <label for="radio-yearly">Yearly (Save 20%)</label>
          </li>

          <li>
            <input class="radio" type="radio" name="radio-button" id="radio-monthly" value="monthly">
            <label for="radio-monthly">Monthly</label>
          </li>
        </ul>
      </div>

      <!-- pricing cards -->
      <div class="grid gap-md gap-sm@md">
        <div class="flex flex-column bg padding-md radius-md shadow-sm col-4@md">
          <h3 class="margin-bottom-md">Free</h3>

          <div class="margin-bottom-md">
            <ul class="list list--icons">
              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>1x user</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>1x project</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>5GB storage space</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Basic reports</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Community support</div>
                </div>
              </li>
            </ul>
          </div>

          <div class="margin-top-auto">
            <a href="#0" class="btn btn--primary width-100%">Get Started</a>
            <p class="text-sm color-contrast-medium text-center margin-top-xxs">No credit card required.</p>
          </div>
        </div>

        <div class="flex flex-column bg padding-md radius-md shadow-sm col-4@md">
          <h3 class="margin-bottom-md">Personal</h3>

          <div class="margin-bottom-md">
            <ul class="list list--icons">
              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>1x user</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Unlimited projects</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>100GB storage space</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Advanced reports</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>24/7 Chat support</div>
                </div>
              </li>
            </ul>
          </div>

          <div class="margin-top-auto">
            <a href="#0" class="btn btn--primary width-100%">
              <span data-plan="year">$9.99<i>/month</i></span>
              <span data-plan="month">$14.99<i>/month</i></span>
            </a>

            <p class="text-sm color-contrast-medium text-center margin-top-xxs">Billed <span data-plan="year">yearly</span><span data-plan="month">monthly</span>.</p>
          </div>
        </div>

        <div class="flex flex-column bg padding-md radius-md shadow-sm col-4@md">
          <h3 class="margin-bottom-md">Team</h3>

          <div class="margin-bottom-md">
            <ul class="list list--icons">
              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Multi-user account</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Unlimited projects</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Unlimited storage</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>Advanced reports</div>
                </div>
              </li>

              <li>
                <div class="flex items-start">
                  <svg class="list__icon icon color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>

                  <div>24/7 Chat support</div>
                </div>
              </li>
            </ul>
          </div>

          <div class="margin-top-auto">
            <label class="sr-only" for="select-team-plan">Select number of users:</label>

            <div class="select width-100% margin-bottom-xxs">
              <select class="select__input btn btn--subtle js-p-table-v2__select" name="select-team-plan" id="select-team-plan">
                <option value="0">1-5 users</option>
                <option value="1">1-20 users</option>
                <option value="2">20+ users</option>
              </select>

              <svg class="icon select__icon" aria-hidden="true" viewBox="0 0 16 16"><polyline points="1 5 8 12 15 5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
            </div>

            <a href="#0" class="btn btn--primary width-100% js-p-table-v2__btn-volume">
              <span data-value="0">
                <span data-plan="year">$7.99<i>/month</i></span>
                <span data-plan="month">$9.99<i>/month</i></span>
              </span>

              <span data-value="1">
                <span data-plan="year">$6.99<i>/month</i></span>
                <span data-plan="month">$8.99<i>/month</i></span>
              </span>

              <span data-value="2">
                <span data-plan="year">$5.99<i>/month</i></span>
                <span data-plan="month">$7.99<i>/month</i></span>
              </span>
            </a>

            <p class="text-sm color-contrast-medium text-center margin-top-xxs">Per user, billed <span data-plan="year">yearly</span><span data-plan="month">monthly</span>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

