
    <app-profile-header
      name="{{userService.me?.firstName}} {{userService.me?.lastName}}"
      role="null" userId="{{userService.me?.id}}"
    ></app-profile-header>
    <div class="margin-bottom-sm">
      <div class="grid gap-xs">
        <div class="col-6@md">
          <app-text-input label="First Name" value="{{userService.me?.firstName}}"></app-text-input>
        </div>
        <div class="col-6@md">
          <app-text-input label="Last Name" value="{{userService.me?.lastName}}"></app-text-input>
        </div>
      </div>
      <app-text-input label="Email" value="{{userService.me?.email}}"></app-text-input>
      <app-password-field></app-password-field>
      <app-datepicker label="Date of Birth">{{userService.me?.dateOfBirth}}</app-datepicker>
    </div>
    <app-textarea
      label="Biography"
      helper="Write a bio about yourself"
    ></app-textarea>
    <app-button text="Save"></app-button>

