<app-header></app-header>
<section class="contact-v3 position-relative z-index-1 padding-top-md">
  <div class="container max-width-xs margin-bottom-lg">
    <div class="text-component text-center">
      <h1>Contact Us</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus eos impedit nesciunt voluptates magni vero itaque.</p>
    </div>
  </div>

  <div class="container max-width-adaptive-md">
    <div class="grid gap-lg">
      <div class="col-6@md">
        <dl class="details-list details-list--rows">
          <div class="details-list__item padding-y-md">
            <dt class="font-bold margin-bottom-xxs">Address</dt>
            <dd class="line-height-md">
              86  Whitby Road <br>IP20 6JA <br>London, UK
            </dd>
          </div>

          <div class="details-list__item padding-y-md">
            <dt class="font-bold margin-bottom-xxs">Email</dt>
            <dd>
              <a href="mailto:webmaster@example.com">hello@myemail.com</a>
            </dd>
          </div>

          <div class="details-list__item padding-y-md">
            <dt class="font-bold margin-bottom-xxs">Phone</dt>
            <dd class="line-height-md">
              <p><a href="tel:+44 7656 6455">+44 7656 6455</a></p>
              <p class="color-contrast-medium">Mon - Fri, 9AM - 5PM</p>
            </dd>
          </div>
        </dl>
      </div>

      <div class="col-6@md">
        <form>
          <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxs" for="contactName">Name</label>
            <input class="form-control width-100%" type="text" name="contactName" id="contactName" required>
          </div>

          <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxs" for="contactEmail">Email</label>
            <input class="form-control width-100%" type="email" name="contactEmail" id="contactEmail">
          </div>

          <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxs" for="contactMessage">Message</label>
            <textarea class="form-control width-100%" rows="9" name="contactMessage" id="contactMessage"></textarea>
          </div>

          <div class="text-right">
            <button class="btn btn--primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</section>

<app-footer></app-footer>
