<header class="f-header js-f-header position-relative padding-y-sm">
  <div class="f-header__mobile-content container max-width-lg">
    <div class="logo">
      <app-logo linkPath="{{linkService.getLink('home')}}"></app-logo>
    </div>
    <button class="reset anim-menu-btn js-anim-menu-btn f-header__nav-control js-tab-focus" aria-label="Toggle menu">
      <i class="anim-menu-btn__icon anim-menu-btn__icon--close" aria-hidden="true"></i>
    </button>
  </div>

  <div class="f-header__nav" role="navigation">
    <div class="f-header__nav-grid justify-between@md container max-width-lg">
      <div class="f-header__nav-logo-wrapper flex-grow flex-basis-0">
        <div class="logo">
        <app-logo linkPath="/"></app-logo>
      </div>
      </div>

      <ul class="f-header__list flex-grow flex-basis-0 justify-center@md">
        <li class="f-header__item"><a routerLink="{{linkService.getLink('home')}}" class="f-header__link" [attr.aria-current]="'' === location.path() ? 'page' : null">Home</a></li>
        <!-- <li class="f-header__item"><button class="reset f-header__dropdown-control js-f-header__dropdown-control">
            <span>Solutions</span>
            <svg class="f-header__dropdown-icon icon" aria-hidden="true" viewBox="0 0 12 12">
              <path d="M9.943,4.269A.5.5,0,0,0,9.5,4h-7a.5.5,0,0,0-.41.787l3.5,5a.5.5,0,0,0,.82,0l3.5-5A.5.5,0,0,0,9.943,4.269Z" />
            </svg>
          </button>

          <ul class="f-header__dropdown">
            <li><a href="#0" class="f-header__dropdown-link">Sub Nav Item One</a></li>
            <li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Two</a></li>
            <li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Three</a></li>
            <li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Four</a></li>
            <li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Five</a></li>
          </ul>
        </li> -->
        <li class="f-header__item"><a routerLink="{{linkService.getLink('pricing')}}" class="f-header__link" [attr.aria-current]="linkService.getLink('pricing') === location.path() ? 'page' : null">Pricing</a></li>
        <li class="f-header__item"><a routerLink="{{linkService.getLink('contact')}}" class="f-header__link" [attr.aria-current]="linkService.getLink('contact') === location.path() ? 'page' : null">Contact</a></li>
      </ul>

        <ul *ngIf="authService.user; else noUser" class="f-header__list flex-grow flex-basis-0 justify-end@md">
          <li class="f-header__item"><button class="reset f-header__dropdown-control js-f-header__dropdown-control">
            <svg class="icon" viewBox="0 0 24 24"><title>Go to account settings</title><g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"><circle cx="12" cy="6" r="4"></circle><path d="M12 13a8 8 0 00-8 8h16a8 8 0 00-8-8z"></path></g></svg>

            <svg class="f-header__dropdown-icon icon" aria-hidden="true" viewBox="0 0 12 12">
              <path d="M9.943,4.269A.5.5,0,0,0,9.5,4h-7a.5.5,0,0,0-.41.787l3.5,5a.5.5,0,0,0,.82,0l3.5-5A.5.5,0,0,0,9.943,4.269Z" />
            </svg>
          </button>
          <ul class="f-header__dropdown padding-sm">
            <li><a routerLink="{{linkService.getLink('profile')}}" class="f-header__dropdown-link">Profile</a></li>
            <li><a (click)="logout()" class="f-header__btn btn btn--primary">Log Out </a></li>
          </ul>
        </li>
        </ul>

      <ng-template #noUser>
        <ul class="f-header__list flex-grow flex-basis-0 justify-end@md">
          <li class="f-header__item"><a routerLink="{{linkService.getLink('login')}}" class="f-header__link">Login</a></li>
          <li class="f-header__item"><a routerLink="{{linkService.getLink('signup')}}" class="f-header__btn btn btn--primary">Sign Up</a></li>
        </ul>
    </ng-template>
    </div>
  </div>
</header>
